@use "../variable";
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: lighten($color: variable.$blue, $amount: 10);
  padding: 1em;

  h1 {
    margin-left: 1em;
    a {
      font-size: 1.7rem;
      text-decoration: none;
      color: variable.$whiteish;
      text-transform: capitalize;
    }
  }
  div {
    margin-right: 1em;
    a {
      margin: 1em;
      text-decoration: none;
      font-size: 1.4rem;
      color: variable.$whiteish;
    }
  }
}

@media (max-width: 420px) {
  nav {
    h1 {
      font-size: 1.5rem;
      margin-left: 0;
      a {
      }
    }
    div {
      display: flex;
      padding: 0;
      a {
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
        margin-left: 0.5em;
      }
    }
  }
}
