@use "./variable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100vw;
  background: variable.$blue;
  overflow: hidden;
}
#root {
  width: 100vw;
}
.app-container{

  height: calc(100vh - 64px);
}

